fastapi==0.110.0
uvicorn==0.27.1

# Database (SQL)
SQLAlchemy==2.0.25

# Auth & Security
passlib==1.7.4
bcrypt==3.2.2
python-jose==3.3.0

# Validation
pydantic==2.6.1
pydantic-settings==2.1.0

# Multipart (future: file upload, resume upload)
python-multipart==0.0.9
